{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_head %}
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
<script src="{% static "app/app.js" %}"></script>
<script src="{% static "app/controllers/main.js" %}"></script>
{% endblock %}

{% block main %}
<h1>Google authentication demo</h1>

<ul>
{% if user.is_authenticated %}
  <li>
    <a>Hello {{ user.get_full_name | default:user.username }}!</a>
  </li>
  <li>
    <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
  </li>
{% else %}
  <li>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
  </li>
{% endif %}
</ul>

{% if user.is_authenticated %}
  {% verbatim %}
  <div ng-app="GmailViewer">
    <div ng-controller="MainController">
      <div ng-view></div>
    </div>
  </div>
  {% endverbatim %}
{% endif %}

{% endblock %}
